services:
  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

  api:
    build: .
    ports:
      - "5454:5454"
    depends_on:
      - ollama

  frontend:
    build: .
    ports:
      - "8501:8501"
    command: streamlit run ./src/frontend.py --server.port=8501 --server.address=0.0.0.0
    depends_on:
      - api

volumes:
  ollama:
