services:
  api:
    build: .
    ports:
      - "5454:5454"
    env_file:
      - .env

  frontend:
    build: .
    ports:
      - "8501:8501"
    command: streamlit run ./src/frontend.py --server.port=8501 --server.address=0.0.0.0
    depends_on:
      - api

